.footer {
  background-color: black;
}

p {
  color: white;
}

.twitter.square.icon {
  color: white;
  font-size: 30px;
}

.facebook.square.icon {
  color: white;
  font-size: 30px;
}

.instagram.icon {
  color: white;
  vertical-align: bottom;
  font-size: 30px;
}

.linkedin.square.icon {
  color: white;
  font-size: 30px;
}
