/* html {
  background: url(../images/Background.jpg) no-repeat center center fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("../images/bdpbg.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

body {
  position: relative;
  z-index: 1;
}

.bg {
  background: url(../images/Background.jpg) no-repeat center center fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("../images/bdpbg.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#mission {
  padding: 50px;
  color: white;
  font-size: 30px;
  font-family: "Lucida Console", Monaco, monospace;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

#welcome {
  padding: 20px;
  color: white;
  font-weight: 900;
  text-align: center;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 70px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.navbar {
  overflow: hidden;
  width: 100%;
  font-family: Impact, Charcoal, sans-serif;
  text-align: center;
  display: inline-block;
  background-color: transparent;
  z-index: 1;
}

.navbar a {
  background-color: transparent;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}

.navbar ul {
  padding: 0px;
  margin: 0px;
  vertical-align: top;
  list-style-type: none;
}

.navbar a:hover {
  color: red;
}

.logo {
  height: auto;
  width: auto;
  max-height: 400px;
  max-width: 350px;
  padding-right: 0;
  right: 0;
  margin-right: 0;
  z-index: -1;
}
