#summary {
  padding: 50px;
  color: white;
  font-size: 30px;
  font-family: "Lucida Console", Monaco, monospace;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
