.ui.menu .item:before {
  width: 1.3px !important;
}

.ui.inverted.navbar.menu {
  border-radius: 0 !important;
}

#donate_button.right.item:before {
  width: 0px !important;
}

a.active.selected.item .text {
  color: rgb(47, 137, 60) !important;
}
